Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/mdp_test.1
libtool
src/libmajordomo.pc
src/platform.h
src/platform.h.in
autom4te.cache/
config/
src/.deps/
src/.dirstamp
src/.libs/
src/*.la
src/*.o
src/mdp_test
src/*.lo
src/majordomo_selftest
test-suite.log