Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
libtool
src/platform.h
src/platform.h.in
autom4te.cache/
config/
src/.deps/
src/.dirstamp
src/.libs/
src/*.la
src/mdp_test
src/*.lo

